.main {
    height: calc(50vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #8fa3c7;
}

.main h1 {
    font-size: 42px;
    margin-bottom: 50px;
    letter-spacing: 2px;
    color: #475369;
}


.controls {
    display: flex;
    gap: 40px;
}

.controls button {
    width: 200px;
    height: 60px;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.start {
    background: #00ff9d;
    color: #2b323e;
    font-weight: 500;
}

.stop {
    background: #ff3b3b;
    color: #2b323e;
}