.balance-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.balance-box {
    font-size: 18px;
    font-weight: 500;
    color: #8fa3c7;

    .profit {
        color: #8fa3c7;

    }
}